/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}


/*⏬ HEADER | LOGO | NAV BAR ⏬*/
header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-booki {
    width: 10%;
    margin-top: 1%;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.menu-nav a {
    padding: 28px;
    text-decoration: none;
    color: black;
}

.menu-nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 28px;
}
/*⏫ HEADER | LOGO | NAV BAR ⏫*/

/*⏬ BARRE DE RECHERCHE ⏬*/
.form-research {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .form-column {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .fa-location-dot {
    
    font-size: 20px;
    background-color: #f2f2f2;
    color: black !important;
    padding: 9px;
    border-radius: 10px 0px 0px 10px;
  }
  
  input[type="search"] {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 0px solid #ffffff;
  }

  input[type='submit'] {
    border-radius: 0px 10px 10px 0px;
  }
  
  .cta {
    background-color: #007bff;
    color: white;
    font-weight: 600;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  ::placeholder {
    text-align: center;
    color: black;
    font-size: 20px;
  }
/*⏫ BARRE DE RECHERCHE ⏫*/

/*⏬ FILTRES ⏬*/

  .container {
    display: flex;
  }
  .filter {
    margin: 7px;
    border: 1px #d1d1d1 solid;
    padding: 12px 18px;
    border-radius: 30px;
  }
  .filter:hover {
    background-color: #1c81bc76;
    border: 1px #777777 solid;
    cursor: pointer;
  }

/*⏫ FILTRES ⏫*/

/*⏬ CARD HÉBERGEMENT À MARSEILLE ⏬*/


.rooms-box {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    gap: 2%;
  }

.room {
    flex: 0 0 calc(30.22% - -10px); 
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.room-content {
    margin: 10px;
}
.room-title {
    font-size: 16px;
} 


.room-image {
    padding: 2%;
    border-radius: 20px 20px 0px 0px;
    width: 96%;
    height: 135px; 
    object-fit: cover;
}

/*⏫ CARD HÉBERGEMENT À MARSEILLE ⏫*/

/*⏬ ACTIVITÉS À MARSEILLE ⏬*/

.activitie-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activitie-card {
    display: flex;
}

.activitie-card .card {
    
    width: 30%; 
    margin: 0 10px; 
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activitie-card img {
    width: 297.5px;
    height: 439px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activitie-card .card-template {
    width: 30%;
}

.activitie-card .card-template-title {
    margin: 10px 0;
}



/*⏫ ACTIVITÉS À MARSEILLE ⏫*/

/* ⏬ FOOTER ⏬ */
.footer-template {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alignez les éléments au centre verticalement */
    background-color: var(--main-bg-color);
    padding: 20px; /* Ajoutez un peu de rembourrage pour l'espace intérieur */
}

.footer-section {
    display: flex;
    gap: 300px; /* Ajoutez un espace plus grand entre les sections */
}

/* ⏫ FOOTER ⏫ */



:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activitie-card img {
        width: 193.5px;
        height: 200px;
    }

    .footer-section {
        gap: 148px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    header {
        flex-direction: column;
    }

    .menu-nav {
        justify-content: center;
    }

    .section-research {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .filter {
        display: flex;
        margin: 2px;
        border: 1px #d1d1d1 solid;
        padding: 18px 14px;
    }
    .informations {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .fa-circle-info {
        position: absolute;
        top: 391px; left: 145px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;

    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .populaires-cards .card {
        width: 80%;
    }

    .hebergements {
        background-color: #00000000 !important;
    }

    .rooms-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .room img.landscape {
        width: 570px;
        height: 369px;
    }

    .activitie-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .activitie-card img {
        width: 400px;
        height: 170px;
    }

    .footer-template {
        margin: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
    }
    /* ... */
}

